* {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}

body {
    text-align: center;
    background-color: azure;
    font-size: 20px;
}

body ol {
    display: table;
    margin: auto;
    padding-right: 30px;
}

#nav2 {
    width: 700px;
    background-color: gray;
    margin: 0 auto;
}

header {
    margin-bottom: 100px;
}

.translated-text {
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: italic;
    opacity: 0.6;
}

h4 {
    font-size: 36px;
    background-color: aqua;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    font-weight: 700;
    border: 10px solid #002347;
}

section {
    margin: 50px;
    border-bottom: 10px solid blue;
}

main {
    margin: 0px 200px;
    border: 10px solid blue;
}

.box {
    border: 10px solid brown;
    margin: 0px auto;
    margin-top: 10px;
    width: 300px;
    height: 300px;
}

.box #box-one {
    color: yellow;
    background-color: yellow;
    height: 100px;
    width: 100px;
    margin: 10px 0px 0px 30px;
}

.box #box-two {
    color: black;
    background-color: black;
    height: 100px;
    width: 100px;
    float: right;
    margin: 45px 50px 0px 0px;
}

#circles .red {
    display: inline-block;
    color: red;
    background-color: red;
    border: 5px solid green;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px;
}

#circles .green {
    display: inline-block;
    color: green;
    background-color: green;
    border: 5px solid blue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px;
}

#circles .blue {
    display: inline-block;
    color: blue;
    background-color: blue;
    border: 5px solid pink;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px;
}

#circles .pink {
    display: inline-block;
    color: pink;
    background-color: pink;
    border: 5px solid red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px;
}

#margin-collaps * {
    margin: 20px auto;
}

#margin-collaps #first-block {
    background-color: pink;
    width: 500px;
}

#margin-collaps #second-block {
    background-color: red;
    width: 500px;
    margin: 60px auto;
}

#margin-collaps #third-block {
    background-color: orange !important;
    width: 500px;
}

.text-overflow {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 5px solid blue;
    overflow: scroll;
    display: inline-block;
    margin-bottom: 294px;
}

.text-without-overflow {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 5px solid blue;
    display: inline-block;
}

#testing-box-sizing-selector #with {
    width: 200px;
    height: 200px;
    padding: 50px;
    margin-bottom: 295px;
    overflow: scroll;
    box-sizing: border-box;
    display: inline-block;
    background-color: greenyellow;
}

#testing-box-sizing-selector #without {
    width: 200px;
    height: 200px;
    padding: 50px;
    display: inline-block;
    background-color: yellow;
}

table,
td,
th {
    border: 3px solid black;
}